*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
::selection {
    background: #fefac7;
    color: #e67474;
}
/* mozilla firefox（火狐浏览器） */
::-moz-selection {
    background: #fefac7;
    color: #e67474;
}
::-webkit-scrollbar-thumb{
    background-color: #49b1f5;
    background-image: linear-gradient(45deg,hsla(0,0%,100%,.4) 25%,transparent 0,transparent 50%,
    hsla(0,0%,100%,.4) 0,hsla(0,0%,100%,.4) 75%,transparent 0,transparent);
    border-radius: 1em;
}
::-webkit-scrollbar{
    width: 6px;
    height: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgba(73,177,245,.2);
}

b,p,h1,a,input,button,h2,img,li,h3,h4,h5,h6{
    user-select: none;
}
div{
    user-select:none;
}
code{
    user-select: text;
}
body { scroll-behavior: smooth; }





/* markdown样式 */

.hljs {
    background-color: rgb(33,37,43);
    padding-top: 30px;
    border-radius: 5px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.hljs::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    background: #fc625d;
    width: 17px;
    height: 17px;
    left: 15px;
    margin-top: -22px;
    box-shadow: 30px 0 #fdbc40,60px 0 #35cd4b;
}
.hljs code{
    overflow-x: auto;
    display: block;
    background-color: rgb(29,31,33);
}
.hljs code::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.hljs code::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgb(202,202,202);
}
.hljs ol {
    background-color: rgb(29,31,33);
    margin-top: 10px;
    list-style: none;
    padding-bottom: 10px;
    width: 100%;
}
.hljs ol li{
    position: relative;
}
.hljs ol li .line-num {
    display: inline-block;
    user-select: none;
    text-align: center;
    background-color: rgb(29,31,33);
    position: relative;
    top: 0;
    width: 40px;
    height: 100%;
    color: rgb(171,178,191);
    font-size: 17px;
    font-family: normal;
}
.hljs ol li .item{
    display: inline-block;
    width: calc(100% - 40px);
    padding: 2px 0 2px 0;
}
.hljs ol li .item:hover{
    background-color: rgb(52,54,56);
}
.hljs ol li .item,.hljs ol li .item span{
    font-family: normal;
    font-size: 15px;
    letter-spacing: 1px;
    user-select: text;
}
.hljs b.name {
    font-family: normal;
    position: absolute;
    top: 2px;
    right: 12px;
    z-index: 10;
    color: #999;
    pointer-events: none;
}

p code{
    background: #fefac7;
    color: #e67474;
    white-space: pre-wrap;
    word-break: break-word;
    font-family: normal;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    text-indent: unset;
}

.entryContent > ol{
    margin-left: 17px;
}

.entryContent ul {
    list-style: disc;
    padding: 0 10px 0 35px;
    color: grey;
    border-radius: 10px;
}

.entryContent ul li {
    Letter-spacing: 1px;
    line-height: 24px;
}



.entryContent h3 {
    padding-bottom: 8px;
    border-bottom: 1px dashed #ddd;
}

.entryContent h1,
.entryContent h2,
.entryContent h2,
.entryContent h3,
.entryContent h4 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}

.entryContent h2 {
    padding-left: 40px;
}

.entryContent h3 {
    padding-left: 20px;
    font-size: 22px;
}

.entryContent h4 {
    padding-left: 20px;
    font-size: 20px;
}

.entryContent h5 {
    position: relative;
    font-size: 18px;
    padding-left: 28px;
}
.entryContent h2:before {
    content: "🐔";
    position: absolute;
    left: 0;
    font-size: 1.03em;
    margin-top: -2px;
}

.entryContent h3:before {
    content: "#";
    left: 0;
    position: absolute;
    margin-top: 2px;
    color: #ff6d6d;
}

.entryContent h4:before {
    content: "▌";
    left: 0;
    position: absolute;
    color: #ff6d6d;
}

.entryContent h5:before {
    content: "🌷";
    left: 0;
    position: absolute;
}

.entryContent > p a {
    color: #e67474;
    position: relative;
    text-decoration: none;
}

.entryContent > p a:hover {
    color: orange;
}

.entryContent > p a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: -2px;
    left: 0;
    background-color: orange;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.entryContent > p a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.entryContent p {
    color: black;
    line-height: 35px;
    word-break: break-word;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .entryContent h2 {
        font-size: 20px;
        padding-left: 30px;
    }
    .entryContent h3 {
        font-size: 18px;
        padding-left: 15px;
    }
    .entryContent h4 {
        font-size: 16px;
        padding-left: 15px;
    }
    .entryContent h5 {
        font-size: 15px;
        padding-left: 22px;
    }
    .entryContent p {
        font-size: 15px;
        line-height: 28px;
    }
    .entryContent ul {
        padding: 0 5px 0 25px;
    }
    .entryContent ul li {
        font-size: 15px;
        line-height: 22px;
    }
    .hljs ol li .line-num {
        font-size: 14px;
        width: 35px;
    }
    .hljs ol li .item,
    .hljs ol li .item span {
        font-size: 13px;
        width: calc(100% - 35px);
    }
}

.entryContent hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0.5px dashed #fc625d;
}

.entryContent img {
    max-width: 100%;
    border-radius: 5px;
}








/*目录*/
.toc {
    position: fixed;
    top: 30%;
    right: 2%;
    width: 250px;
    margin-left: auto;  /* 确保右对齐 */
    background-color: #F7F9Fe;
    border-radius: 8px;
    padding: 10px 10px 10px 5px;
    color: #595a5a;
    box-sizing: border-box;
    z-index: 100;
    margin-top: 2%;
    transition: all .2s;
}


.toc:before{
    content:'🏖️目录';
    font-size: 24px;
    margin-left: 55px;
}
.toc ol ol{
    padding-left: 20px;
}
.toc>.toc-list{
    overflow: auto;
    margin: 7px 0;
    padding-inline-start: 10px!important;
    position: relative;
    display: block;
    max-height: 50vh;
    padding-right: 7px;
}
.toc-list-item{
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    display: flex;
    flex-direction: column;
}
.toc-link{
    font-size: 18px;
    margin:4px 0;
    scroll-behavior: smooth;
    box-sizing: unset;
    text-decoration: none;
    color: rgb(100,100,100);
    transition: all .1s;
}
.toc-link.active{
    font-weight: 700;
    color: white;
    background-color: rgb(131,123,199);
    padding: 4px 8px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .toc{
        display: none;
    }
    .toc-link{
        font-size: 12px;
    }
    .toc:before{
        font-size: 18px;
        margin-left: 55px;
    }
    .toc {
        width: 200px;
    }
    .toc ol ol{
        padding-left: 15px;
    }
}